defmodule <%= @module_prefix %>.<%= @schema_module_name %> do
  use Ecto.Schema

  @primary_key false
  schema "<%= @schema_name %>" do
    field :namespace, :string
    field :key, {:array, :binary}
    field :original_key, :binary
    field :value, :binary
    field :expires_at, <%= @datetime_type %>
    timestamps(type: <%= @datetime_type %>)
  end
end
